<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427032012871-em92337sdimo2rvgsj723kq6cnl762cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427032012871-em92337sdimo2rvgsj723kq6cnl762cf</string>
	<key>API_KEY</key>
	<string>AIzaSyAaXoIiSR39ompLJgLU4od5PKYq5nkmPWc</string>
	<key>GCM_SENDER_ID</key>
	<string>427032012871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VadimLetuchy.The-Rick-and-Morty</string>
	<key>PROJECT_ID</key>
	<string>rickandmorty-63ef5</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmorty-63ef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427032012871:ios:884535b0cb06b7f5a5a962</string>
</dict>
</plist>